NODE_ENV=development
NOTION_TOKEN=<get from https://www.notion.so/profile/integrations>
NOTION_DB_PROGRAMS_ID=36cdaa5e-0af7-80b1-af9f-e1b05497b255
NOTION_DB_ELEMENTS_ID=36cdaa5e-0af7-81e6-a74a-f242037b1102
NEXT_PUBLIC_SITE_URL=http://localhost:3000
